.container-anchor {
    width: 100%;
    background-color:rgb(219, 62, 40);
    padding: 0em 2em;
    height: 80px;
    position: relative;
    box-sizing: border-box;
}

.container__anchor--one {
    width: 100%;
    background-color: rgb(253,189,24);
    padding: 0em 2em;
    height: 80px;
    position: relative;
    box-sizing: border-box;
}

.container__anchor--two { 
    width: 100%;
    background-color: rgb(266, 149, 170) ;
    padding: 0em 2em;
    height: 80px;
    position: relative;
    box-sizing: border-box;
}

.logo {
    width: 4em;
    padding-top: .5em;
}

.anchor__items--zero {
    position:absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: 80px;
    line-height: 80px;
    padding-right: 100px
}

.anchor__items--zero li {
    display: inline-block;
    text-transform: initial;
    margin-left: 25px;
}

.anchor__items--zero li a {
    color:rgb(245, 210, 26);
    text-decoration: none;
    transition: 5s; 
}

.anchor__items--one {
    position:absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: 80px;
    line-height: 80px;
    padding-right: 80px;
}

.anchor__items--one li {
    display: inline-block;
    text-transform: initial;
    margin-left: 25px;
}

.anchor__items--one li a {
    color: rgb(219, 62, 40) ;
    text-decoration: none;
    transition: 5s; 
}

.anchor__items--two {
    position:absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: 80px;
    line-height: 80px;
    padding-right: 80px;
}

.anchor__items--two li {
    display: inline-block;
    text-transform: initial;
    margin-left: 25px;
}

.anchor__items--two li a {
    color: rgb(245, 210, 26);
    text-decoration: none;
    transition: 5s; 
}

.main-banner {
    background-image: url(../img/coco.webp);
    padding: 10em 0;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.title {
    background-image: url(../img/coco.webp);
    padding: 10em 0;
    background-size: cover;
    background-position: center;
    text-align: center;
    color:white;
}

.content{
margin-left: 100px;
margin-right: 100px;
background-color:  rgb(255,223,129);
}

.bahia {
    width: 600px;
}

.container__content--start {
    display: flex;
    flex-direction:row;
}

.container-title {
   padding-top: 20px;
   padding-left: 20px;
}

.container__curiosity--start {
    margin: 87px 15px 4px 15px;
    padding-left: 60px;
    padding-top: 16px;
    padding-right: 20px;
    background-color: rgb(245,175,84);
}

.container__recipe--start {
    padding-left: 100px;
    background-color: rgb(266, 149, 170);
    margin-left: 15px;
    margin-right: 15px;
}

.container__recipe--start h3 {
    text-align:center;      
}

.specialties-container {
    background-color:  rgb(219, 62, 40);
    margin-left: 20px;
    margin-right: 20px;
}

.specialties-container p {
    text-align: center;
}

.table {
    display: flex;
    flex-direction:row;
}

.table #table-b {
    margin-left: 20px;
}

.ceara {
    width: 600px;
}

.container__content--one {
    display: flex;
    flex-direction:row;
}

.container__tittle--one {
    padding-top: 20px;
    padding-left: 20px;
}

.container__curiosity--one {
    margin: 87px 15px 4px 15px;
    padding-left: 60px;
    padding-top: 16px;
    padding-right: 20px;
}

.alagoas {
    width: 600px;
}

.links ul {
    list-style: none;    
}
